
[databases]

* = host={{ pg_server_ip }} port={{ pg_server_port }} user={{ pg_server_auth_user }} password={{ pg_server_user_pass }}

[pgbouncer]

logfile = /var/log/postgresql/pgbouncer.log
pidfile = /var/run/postgresql/pgbouncer.pid

listen_addr = 127.0.0.1
listen_port = 6432

unix_socket_dir = /var/run/postgresql

auth_file = /etc/pgbouncer/userlist.txt

pool_mode = {{ pgbouncer_pool_mode }}

server_reset_query = DISCARD ALL

max_client_conn = {{ pgbouncer_max_client_conn }}

default_pool_size = {{ pgbouncer_default_pool_size }}